@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato/Lato-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: Lato;
}

h1 {
    color: #D04F4F;
}

button img {
    height: 40px;
    width: 40px;
}

header img {
    height: 50px;
    width: 50px;
}
/* BUTTON */

button {
    box-shadow: none;
}

#btn-ingredients {
    background-color: #3282f7;
}
#btn-appareils {
    background-color: #68D9A4;
}
#btn-ustensiles {
    background-color: #ED6454;
}

.filter-button {
    display: flex;
    padding: 25px 65px 25px 25px;
    margin-right: 25px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: 600;
    font-size: large;
    overflow: visible;
    z-index: 4;
    position: relative;
    text-align: start;
    width: 190px;
    justify-content: space-between;
}
.dropdown-arrow {
    content: '';
    position: relative;
    z-index: 3;
    top: 8px;
    margin-left: 30px;
    transition: 0.5s;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}
.filter-button.active .dropdown-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    left: 87%;
}
.filter-button.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: transparent;
}
.dropdown-option {
    display: inline-block;
    position: absolute;
    top: 76px;
    left: 0;
    z-index: 4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-block: 20px;
}

div.dropdown-multicol{
    width: 50em;
}
div.dropdown-row>a.dropdown-item{
    display:inline-block;
    width: 32%;
}

button:focus {outline:0;}

.active-filters {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}  

.filter-element {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 1.5em;
}

.filter-tag {
    border: 0;
    font-weight: 500;
    font-size: medium;
    margin: 0;
}

.filter-cross {
    height: 25px;
    width: 25px;
    margin-left: 15px;
    filter: invert(100%);
}

.typing-bar {
    width: 100%;
    margin: 0;
    padding: 0.4em;
    border: 0;
    border-radius: 4px;
    font: inherit;
    font-weight: 700;
    background: var(--cp-color-15);
    height: 25px;
    position: relative;
    left: -125px;
}

.typing-bar::placeholder {
    color: rgba(255, 255, 255, 0.986);
}

.typing-bar:focus{
    outline: none;
}

.msgNoResult {
    margin-left: 3.5rem;
    margin-top: 2rem;
}

/* CARDS */
.card-img-top {
    height: 200px;
    width: 100%;
    background-color: #C7BEBE;
}

.card-body {
    background-color: #E7E7E7;
}

.entete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.entete img {
    height: 25px;
    width: 25px;
}

.entete-time {
    display: flex;
    flex-direction: row;
}

.recette {
    display: flex;
    gap: 20px;
}

.card {
    height: 100%;
}

.recette p {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    white-space: normal;
}

#ingredientsDropdownMenu {
    background-color: #3282F7;
    color: white;
}
#ingredientsDropdownMenu a:hover{
    background-color: #0c68f1;
}
#appareilsDropdownMenu {
    background-color: #68D9A4;
    color: white;
}
#appareilsDropdownMenu a:hover{
    background-color: #5ec494;
}
#ustensilesDropdownMenu {
    background-color: #ED6454;
    color: white;
}
#ustensilesDropdownMenu a:hover{
    background-color: #cf574a;
}
